.logo {
	background: url(../assets/logo.svg) 0 100% no-repeat;
    background-size: contain;
    display: block;
    height: 24px;
    overflow: hidden;
    text-indent: 100%;
    width: 126px;
	cursor: pointer;
} 